
body,html{


    background-color:#e3e7ee ;
}


#card{
    margin: 164px;
    height: 360px;
    width: 336px;
    border-color:#ffffff;
    background-color: #FAFAF9;
    border-radius: 4%;
    
}




    

img{

padding: 16px;

}



p{
  
    font-size: 10px;
    
    
}


.diseno{
    background-color: #E6D6FC;
    width: 20%;
    text-align: center;
    border-radius: 4px;
    color: #883AE1;


}


#contener{
    padding-left: 16px;
    
    
    }


.annie{

    padding-left: 16px;
   
 
}


#annie{

font-size: 12px;

}

.cuerpo{
font-size: 14px;
}


h6{

font-size: 18px;}